body, html {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0;
}

#generator {
    background-image: url('../images/yosemites.jpg');
    background-size: cover;
    min-height: 100vh;
    display: flex;

    .container {
        padding: 1rem;
        display: flex;

        >div {
            margin: auto;
            padding: 0;
        }
    }

    header {
        width: 6rem;
        margin: 0px auto 2rem;
    }

    #tabs-header {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 0rem;
        border-bottom-right-radius: 0rem;
        overflow: hidden;

        .tablink {
            max-width: 100%;
            padding: 1.5rem 1.5rem;
            border-bottom-left-radius: 0rem;
            border-bottom-right-radius: 0rem;
            border: 0;

            &.btn-sunset-orange {
                background-color: #FF605C;
            }

            &.btn-pastel-orange {
                background-color: #FFBD44;
            }

            &.btn-malachite {
                background-color: #00CA4E;
            }
        }
    }

    #tabs-content {
        color: #626e71;
        background-color: lightgray;
        overflow: hidden;
        box-shadow: 0 8px 16px rgba($color: black, $alpha: .25);
        background: inherit;
        position: relative;
        backdrop-filter: blur(30px);

        .tabs {
            padding: 2rem;
            background: rgba($color: white, $alpha: .66);
        }
        
        .custom-range {
            margin: auto;
            height: 2rem;
        }

        .custom-switch {
            padding-left: 0rem;
            padding-right: 4rem;

            .custom-control-label {

                &::before {
                    top: 3px;
                    left: 3rem;
                }

                &::after {
                    top: calc(.2rem + 2px);
                    left: calc(3rem + 2px);
                }
            }
        }

        .slider-icon {
            text-align: center;
            border-radius: .5rem;
            margin-right: 1rem;
            margin-bottom: 0rem;
        }

        .slider-label {
            margin: 0;
            width: 4rem;
            text-align: center;
            background: rgba($color: #e9ecef, $alpha: .66);
            border-radius: .5rem;
            margin-left: 1rem;
            padding: .25rem;
            font-size: 1.25rem;
            font-weight: bold;
        }

        input[name*="result"] {
            border-top-left-radius: .5rem;
            border-bottom-left-radius: .5rem;
        }

        button[name*="button-copy"] {
            border-top-right-radius: .5rem;
            border-bottom-right-radius: .5rem;
        }

        .mj-result, .mj-result-copied {
            font-family: "Courier New", monospace;
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
            letter-spacing: .25rem;
            background: rgba($color: #e9ecef, $alpha: .66);
            border: 0px;
            border-radius: 1rem;
            line-height: 2.5rem;
            overflow-wrap: break-word;
            word-break: break-all;
            padding: 1rem 1.5rem .75rem;
        }

        .mj-result-copied {
            position: absolute;
            top: 0;
            width: calc(100% - 30px);
            height: 100%;
            color: white;
            letter-spacing: 0rem;
            background: rgba($color: #00CA4E, $alpha: .66);
            border: 0px;
            display: none;
            justify-content: center;
            align-items: center;

            &.fadeInOut {
                display: flex;
                display: -ms-flexbox;
                animation: fadeInOut 2s ease-in-out forwards;
                opacity: 0;
            }
        }

        .form-group {
            text-align: center;
        }

        svg {
            width: 38px;
            height: 38px;
            border-radius: .75rem;
        }
    }

    #tabs-footer {
        border-top-left-radius: 0rem;
        border-top-right-radius: 0rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        overflow: hidden;

        .btn {
            border-top-left-radius: 0rem;
            border-top-right-radius: 0rem;
            color: #eaeaea;
        }
    }
}

.animate-opacity {
    animation: opacity 0.5s;
}

input {
    margin: 0;

    &.input-fill {
        width: 100%;
    }
}

.text-center {
    text-align: center;
}

// Utilities
.margin-top-1 {
    margin-top: 1rem;
}

.margin-top-2 {
    margin-top: 2rem;
}

.margin-bottom-1 {
    margin-bottom: 1rem;
}

.margin-bottom-2 {
    margin-bottom: 2rem;
}

.display-flex {
    display: flex;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.btn-yosemite-aqua {
    background: rgba(142, 142, 147, 1.0);
}

.btn-yosemite-dark {
    background: rgba(152, 152, 157, 1.0);
}

@keyframes opacity {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInOut {
    45% { opacity: 1; }
    55% { opacity: 1; }
}

@media (min-width: 768px)
{
    #tabs-content {
        >div {
            min-height: 436px;
        }
    }
}