---

---
/*!
 * Copyright 2020 - Fajar Setya Budi.
 * 
 * Used 3rd-party Plugin :
 * Bootstrap (Reboot, Grid, Buttons, Button Group, Custom Forms)
 * Monokai (Syntax Highlighter)
**/
$font-family-base: 'Roboto', sans-serif !default;

$custom-control-indicator-size: 2rem !default;

$btn-border-radius:     0 !default;
$btn-border-radius-lg:  0 !default;
$btn-border-radius-sm:  0 !default;

$border-width: 0 !default;

$body-color: #626e71 !default;

$sunset-orange: #FF605C;
$pastel-orange: #FFBD44;
$malachite:     #00CA4E;

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

$theme-colors: (
    "primary":          $primary,
    "sunset-orange":    $sunset-orange,
    "pastel-orange":    $pastel-orange,
    "malachite":        $malachite
);

@import "bootstrap/reboot";
@import "bootstrap/grid";
@import "bootstrap/buttons";
@import "bootstrap/button-group";
@import "bootstrap/custom-forms";
@import "monokai";
// @import "social-logos";
@import "main";
