---

---

/*!
 * Copyright 2020 Fajar Setya Budi.
 * 
 * Used 3rd-party Plugin :
 * Bootstrap (Grid, Buttons, Button Group, Custom Forms)
 * Monokai (Syntax Highlighter)
 *
 */

@import "bootstrap/functions";
@import "variables";
@import "bootstrap/mixins";

$sunset-orange: #FF605C;
$pastel-orange: #FFBD44;
$malachite:     #00CA4E;

$theme-colors: (
    "primary":          $primary,
    "sunset-orange":    $sunset-orange,
    "pastel-orange":    $pastel-orange,
    "malachite":        $malachite
);

@import "bootstrap/reboot";
//@import "bootstrap/root";
@import "bootstrap/grid";
//@import "bootstrap/forms";
@import "bootstrap/buttons";
//@import "bootstrap/input-group";
@import "bootstrap/button-group";
@import "bootstrap/custom-forms";
@import "monokai";
//@import "social-logos";
@import "main";
